<nav aria-label="Main Navigation" class="sidenav" [ngClass]="{
 'sidenav--open': isOpen,
 'sidenav--closed': !isOpen
}">
  <button class="sidenav__button" (click)="toggle()">
    <fa-icon
      class="header__button-icon"
      [icon]="isOpen ? faArrowLeft : faArrowRight" tabindex="-1"></fa-icon>
  </button>
  <ul *ngIf="isOpen" class="sidenav__list">
    <li class="sidenav__list-item" *ngFor="let menuItem of menuStructure">
      <button class="sidenav__list-item__button" [routerLink]="menuItem.url" [routerLinkActive]="['sidenav__list-item__button--active']">
        <span tabindex="-1" class="sidenav__list-item__button__content">{{menuItem.label}}</span>
      </button>
    </li>
    <!-- <li class="has-submenu">
      <a href="…" aria-haspopup="true" aria-expanded="false">
        Space Bears
      </a>
      <ul>
        <li><a href="…">Space Bear 6</a></li>
        <li><a href="…">Space Bear 6 Plus</a></li>
      </ul>
    </li> -->
  </ul>
</nav>
