@import "src/styles/variables";
@import "src/styles/mixins";

.sidenav {

  @include media($from: tbl-l) {
    height: 100vh;
    padding-top: $padding-base * 4;
  }

  position: sticky;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: $color-background-tertiary;
  overflow-x: hidden;
  transition: 0.5s;

  &--open {

    @include media($from: tbl-l) {
      width: 14rem;
    }

  }

  &--closed {

    @include media($to: tbl-l) {
      display: none;
    }

    @include media($from: tbl-l) {
      width: 2rem;
    }
  }

  &__button {
    @include media($to: tbl-l) {
      @include visually-hidden;
    }
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: $font-size-title;
    margin-left: 50px;
    button:hover,
    &-icon:focus {
     outline: none;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    &-item {
      border-width: 2px 0;
      border-style: solid;
      border-color: white;
      padding: $padding-base;
      display: flex;
      justify-content: center;
      &__button {
        @include no-btn-style;
        font-size: $font-size-base;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        &__content:focus {
          outline: none;
        }
        &--active {
          color: yellow;
        }
      }
    }
  }
}
