@import "src/styles/variables";
@import "src/styles/mixins";

.header {
  $height-header: 100px;
  $padding-header: $padding-base;

  height: $height-header;
  padding: $padding-header;
  text-align: left;
  z-index: $z-index-header;
  background-color: $color-background-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include box-shadow;

  &__figure {
    display: inline-block;
  }

  &__figcaption {
    @include visually-hidden;
  }

  &__logo {
    height: calc(#{$height-header} - #{$padding-header * 2});
    stroke: $color-secondary;
    stroke-opacity: 0.8;
    stroke-width: 2px;
  }

  &__title {
    @include visually-hidden;
  }

  &__button {
    @include no-btn-style;
    border-radius: $border-radius;
    padding: $padding-base;
    background-color: $color-background-tertiary;
    border: solid 1px black;
    @include media($from: tbl-l) {
      @include visually-hidden
    }
    &:active {
      background-color: $color-primary;
      color: white;
    }
    &-icon:focus {
      outline: none;
    }
  }
}
