@import "src/styles/variables";
@import "src/styles/mixins";

.paginator-element {
  padding: $padding-base / 2;
  margin: $margin-base / 2;
  transition: background-color $transition-speed;

  &--clickable {
    cursor: pointer;
  }

  &--active {
    border: 3px solid #29773E;
  }

  &:hover:not(&--active):not(&--dots) {
    background-color: rgba(41, 119, 62, 0.3);
  }
}
