@import 'src/styles/variables';
@import 'src/styles/mixins';

.character-card {

  --width-size: 400px;
  --height-size: 329px;

  @include media($to: tbl-l) {
    --width-size: 100%;
    --height-size: 280px;
  }

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: $border-radius;
  margin: $margin-base ;
  padding: $padding-base;
  background-color: $white;
  min-width: var(--width-size);
  max-width: var(--width-size);
  min-height: var(--height-size);
  max-height: var(--height-size);
  height: var(--height-size);
  @include box-shadow($v-offset: 0, $spread-radius: 0);

  @include media($to: tbl-l) {
    margin: $margin-base 0;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $margin-base;
  }

  &__image-container {
    height: 100%;
  }

  &__image {
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 100%;
    border: solid 1px black;

    @include media($to: tbl-l) {
      width: 100px;
    }
  }

  &__figcaption {
    @include visually-hidden;
  }

  &__content {
    display: flex;
    height: 90%;

  }

  &__info {
    padding: 0 $padding-base;
    display: flex;
    flex-direction: column;
    &__label {
      margin-right: $margin-base / 2;
      font-weight: bold;
    }
    &__detail {
      margin-bottom: $margin-base / 2;
      display: flex;
      align-items: center;
      &-status-icon {
        border-radius: 50%;
        display: inline-block;
        margin-left: $margin-base / 2;
        height: $font-size-base / 2;
        width: $font-size-base / 2;
        &--alive {
          background-color: $color-success;
        }

        &--dead {
          background-color: $color-error;
        }

        &--unknown {
          background-color: $orange;
        }
      }
    }
  }
}
