@import 'src/styles/variables';
@import 'src/styles/mixins';

.character-card {
  $width-image-small: 125px;
  $width-image: 200px;
  $height-image: 300px;

  @include media($to: tbl-l) {
    --width-image: #{$width-image};
  }
  @include media($from: tbl-l) {
    --width-image: #{$width-image};
  }

  border: 1px solid black;
  border-radius: $border-radius;
  margin: $margin-base ;
  padding: $padding-base;
  background-color: $color-background-tertiary;

  &__header {
    text-align: center;
  }

  &__title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $margin-base;
  }

  &__image {
    width: 200px;
    height: 300px;
    border: solid 1px black;
  }

  &__figcaption {
    @include visually-hidden;
  }
}
